<p style="color: green"><%= notice %></p>

<h1>Show User</h1>
<!-- 
<%= render @user %>
<div>
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

-->

<h2>turbo</h2>
  <%= turbo_frame_tag @user do %>
    <p><%= render "users/user", user: @user %></p>
  
  <% end %>
  <%= link_to 'Edit this user', edit_user_path(@user) %>
