<div
  class="container"
>
  
  <div class="d-flex justify-content-between align-items-center">
    <h1>Mes emails </h1>
        <div>
          <%= button_to "Synchroniser", emails_path, class: "btn btn-info bi bi-arrow-clockwise" %>
        </div>
  </div>
  
  <div
    class="row justify-content-start align-items-start g-2"
  >
  <% @email.nil? ? col = "col-12" : col = "col-6" %>
    <div class="<%= col %>">
      <h2>Liste des emails</h2>
      <%= render 'emails/emails_all' %>
    </div>
    <% @email.nil? ? collpase = "collapse" : collapse = "" %>
      <div class="col-6 <%= collpase %>">
        <h2>Email</h2>
        
        <%# TURBO %>
          <%= turbo_frame_tag @email do %>
            <p><%= render "emails/email", email: @email, read: true %></p>
          <% end %>
      </div>
  </div>
  
</div>
